{% include "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body style="background-color: lightgrey">
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Uuenda konto andmeid</h3>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{user_form.username|as_crispy_field}}
            {{user_form.email|as_crispy_field}}

            <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block">
                Uuenda
            </button>
            {{form.non_field_errors}}
        </form>
    </div>
</body>

{% endblock %}
