<style>
       .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;

          color: white;
          text-align: center;
        }

        * {
          box-sizing: border-box;
        }

        .column {
          float: left;
          padding: 0px;
         }

        .left, .right {
          width: 15%;
        }

        .middle {
          width: 70%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

</style>
<body>
            <div class="footer navbar-expand-lg bg-primary justify-content-center">
              <div class="container">
                <br>
                <h5>Nii hea - võite sattuda sõltuvusse!</h5>

                <div class="row">
                    <div class="column left">
                        <td align="right">Caffee Melton</td>
                    </div>
                    <div class="column middle">
                        <td> Our final project for SDA</td>
                    </div>
                    <div class="column right">
                        <td align="left"> Manager (meil)</td>
                    </div>

                </div>
              </div>
            </div>
</body>

