{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{category.category_name }}
{% endblock %}

{% block content %}
    <h1>{{ category.category_name }}</h1>

    <!-- Include the navigation bar code here -->
    <nav class="navbar navbar-expand-lg bg-primary justify-content-center">
        <!-- ... navigation bar code ... -->
    </nav>

    <div class="product-list">
        {% for product in products %}
            <div class="product">

              <div>
                    {% if product.image %}
                        <a href="{% url 'shop:product_detail' product.slug %}">
                            <img src="{{ product.image.url }}"
                                 alt="{{ product.product_name }}" width="200" height="200">
                        </a>
                    {% endif %}
                </div>

                <div>
                    <a href="{% url 'shop:product_detail' product.slug %}">
                        {{ product.product_name }}
                    </a>
                </div>
                <p><strong>Hind:</strong> € {{ product.price }}</p>
            </div>

        {% empty %}
            <p>No products available in this category.</p>
        {% endfor %}
    </div>
{% endblock %}
