{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <h5>
            <strong>
                {{ product.product_name }}
            </strong>
        </h5>
        <div>
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.product_name }}"
                 width="200" height="200">
          {% endif %}
        </div>
        <p>{{ product.description }}</p>
        <p><strong>Kaal:</strong> {{ product.weight }} </p>
        <p><strong>Hind:</strong> € {{ product.price }}</p>

        <button type="submit" class="btn btn-secondary btn-lg">
            Lisa ostukorvi
        </button>

    </div>
{% endblock %}
