{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{category.category_name }}
{% endblock %}

{% block content %}
     <body style="background-color: lightgrey">
     <br>
     <div class="container bg-white shadow-md p-0 form-layout">

    <br>
    <h3 style="text-align:center;"><strong>{{ category.category_name }}</strong></h3>

    <div class="product-list">
        {% for product in products %}
            <div class="product">

              <div>
                    {% if product.image %}
                        <a href="{% url 'shop:product_detail' product.slug %}">
                            <img src="{{ product.image.url }}"
                                 alt="{{ product.product_name }}" width="200" height="200">
                        </a>
                    {% endif %}
                </div>

                <div>
                    <a href="{% url 'shop:product_detail' product.slug %}">
                        {{ product.product_name }}
                    </a>
                </div>
                <p><strong>Hind:</strong> € {{ product.price }}</p>
            </div>

        {% empty %}
            <p>No products available in this category.</p>
        {% endfor %}
    </div>
{% endblock %}
