{% extends 'base.html' %}
{% load static %}

{% block title %}Products in {{ subcategory.subcategory_name }}{% endblock %}

{% block content %}
<h2>Products in {{ subcategory.subcategory_name }}</h2>
<ul>
    {% for product in products %}
        <li>
            <div>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}" width="200" height="200">
                {% endif %}
            </div>
            <div>
                <a href="{% url 'shop:product_detail' product.slug %}">{{ product.product_name }}</a>
            </div>
        <p>Price: € {{ product.price }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}




